/*
 * Cover
 */
 .cover {
    position: absolute;
    top: 10%;
    left: 44%;
    margin: 0 auto;
    background-color: whitesmoke;
    min-height: 20%;
    min-width: 20%;
  }

  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .cover-container {
    max-width: 42em;
  }